.product-card {
	text-align: center;
	width: 200px;
	height: 420px;
}

.card-img {
	width: 120px;
	height: 220px;
	object-fit: cover;
	cursor: pointer;
}

.card-img:hover,
.img-hover:hover {
	opacity: 0.7;
}

.cart-badge {
	width: 0px;
	position: relative;
	z-index: 1;

}
/*scrollbar*/
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: white;
}

::-webkit-scrollbar-thumb {
	background: lightgray;
}

::-webkit-scrollbar-thumb:hover {
	background: mediumturquoise;
}
